.Hero {
    text-align: center;
    background-image: url('../Media/codeBackground.png');
  }
  .Hero-header {
    background-image: 
    radial-gradient(farthest-corner at 40px 40px,rgba(40,44,52,1) 75%, rgba(40,44,52,0.7021183473389356) 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  h1{
    font-weight: 100;
  }